body {
  margin: 0;
  background-color: #F1F3F6;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding-bottom: 0.5%;
  height: 100vh;
  overflow-y: scroll;
}
body::-webkit-scrollbar {
  width: 8px;
  border-radius: 4px;
  background-color: #2385d6;
}
body::-webkit-scrollbar-thumb {
  height: 12px;
  border-radius: 6px;
  background-color: rgb(12, 222, 152);
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
