.main_deal1block
{
    margin-top: 5%;
    /* height: 90vh; */
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #F1F3F6;
    
}
.heading_block
{
    height: 2.5rem;
    width: 100%;
    box-shadow: 0px 1px 2px 0px rgb(193, 193, 193);
    border-radius: 4px;
    align-items: center;
    justify-content: space-around;
    display: flex;
   background-color: white;
    
}
.deal_list
{
    font-weight: 700;
    /* margin-left: 3%; */
    font-size: 1rem;
    color: rgb(64, 64, 67);
}
.deal_list:hover
{
    color: rgb(48, 146, 238);
}