.mobile_main_block
{
   margin-top: 0.5%;
   /* height: 100vh; */
   /* background-color: rgb(226, 229, 232); */
   
}
.shop_by_prize
{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
 background-color: white;
  height: 4.2rem;
  font-size: 1.8rem;
  font-weight: 700;
 
}
.line
{
    height: 0.5px;
    width: 100%;
    margin-top: 2px;
    background-color: rgb(26, 26, 28);

}
.mobile_list_head_block
{
    /* height: 70rem; */

    width: 100%;
    background-color: rgb(255, 255, 255);
    
    display: flex;
    /* flex-wrap: wrap; */
    flex-direction: column;
}
.prize_block
{
    height:2.5rem;
    width: 100%;
    margin-top: 1%;
  
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.prize
{
    display: flex;
    width: 15%;
    height: 100%;
    align-items: center;
    justify-content: center;
    background-color:#e1e0e0;
    border-radius: 4px;
    font-weight: 700;
    
}
.prize:hover
{
    background-color: rgb(234, 239, 243);
    color: rgb(65, 176, 219);
}

/* this is from mobile_item_block */
.item_list_number
{
    margin-top: 2%;
    margin-left: 1%;
    height: 3rem;
    width: 97%;
    border-radius: 4px;
    display: flex;
    align-items: center;
    padding-left: 3%;
    font-weight: 600;
    border: 0.5px solid rgb(196, 196, 196);
    
}
.mobile_items_block
{
    margin-top: 2%;
    display: flex;
    flex-wrap: wrap;
   
    width: 98%;
    


    
}
.mobile_items
{
    height: 37rem;
    width: 24%;
    background-color: rgb(239, 248, 251);
    
    border-radius: 4px;
    margin-left: 1%;
    margin-top: 1%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 1%;
    overflow-y: hidden;
    box-shadow:0px 0px 4px 2px rgb(180, 181, 182) ;
}
.mobile_items:hover
{
    background-color: rgb(241, 233, 233);
}
.image_text
{
    margin-top: 2%;
    font-weight: 600;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    padding-left: 2%;
    padding-right: 2%;
    padding-right: 0.5%;
    font-size: 1.1rem;
}
.freedomsale
{
    height: 1.8rem;
    width: 10rem;
    background-color: #FF8C2A;
    
    border-radius: 4px;
    font-weight:600 ;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.8rem;
    margin-top: 1%;
    
}
.mobile_prize
{
    font-size: 1.4rem;
    font-weight: 600;
    color:#B1428E;
    margin-top: 2%;
    height: 2rem;
    

}
.h2s {
    text-decoration-line: line-through;
    margin-left: 3%;
    font-size: 1rem;
    color:rgb(98, 102, 104)
  }
  .h2ss {
    
    
    font-size: 1rem;
    color:rgb(98, 102, 104)
  }
  .all_result_btn
  {
    height: 3rem;
    width: 97%;
    display: flex;
    border-radius: 4px;
    align-items: center;
    justify-content: center;
    background-color: #EEEEEE;
    font-weight: 700;
    margin-top: 1%;
    margin-left: 1%;
    color: rgb(40, 156, 202);
    font-size: 1.1rem;

  }
  .all_result_btn:hover
  {
    color: rgb(235, 169, 46);
  }
  .imglists
{
    display: flex;
    width: 99%;
    flex-wrap: wrap;
    box-shadow: 0px 0px 4px 2px rgb(193, 193, 193);
  margin-top: 2%;
    gap: 1%;
    margin-left: 0.5%;
    padding:0.5%;
    
}
.images
{
    height: 25rem;
    width: 20rem;
    margin-top: 1%;
}
.images:hover
{
    opacity: 0.5;
}
/* @media screen and (min-width: 950px) and (max-width:1800px) {

    #image
{
    height:80% !important;
    width: 100% !important;
}
} */
