.main_navbar_block
{
    /* background-color: rgb(33, 24, 24); */
}
.navlist
{
    font-weight: 700 !important;
}
.search_main_block
{
    margin-right: 2%;

}
.cartblock
{
    font-weight: 700 !important;
}
.login_btn
{
    margin-left: 2%;
    margin-right: 1%;
    font-weight: 700 !important;
}
