.photo_main_block {
  height: 22rem !important;
  width: 100%;
  box-sizing: border-box;
  margin-top: 0.4rem;
  background-color: #cdc9ce;
  display: flex;
}

.imageclass {
  height: 70% !important;
  width: 100%;
}

/* last 3 div block */
.threediv_main {
  width: 100%;
  margin-top: 1%;

  border-radius: 4px;
  box-shadow: 0px 0px 4px 2px rgb(193, 193, 193);
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 1%;
  padding-right: 1%;
  flex-direction: column;
}
.threediv1 {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  border-radius: 4px;
}
.threediv1subclass1 {
  width: 100%;
  height: 100%;
  background-position: center;
  background-size: cover;
  margin-top: 1%;
}
.threediv1subclass2
{
  background-position: center;
  background-size: cover;
  
}
.threediv1subclass3
{
  background-position: center;
  background-size: cover;
  margin-top: 1%;
  height: 20rem;
}
/* last pic ky baad ya sara ha code ha */
.heading
{
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: center;
    gap: 0.6%;
    margin-top: 1%;
  background-color: rgb(247, 251, 251);
    padding-bottom: 1%;
    
}

/* yah threefiv crusal ha */
.main_crusal2block
{
    box-shadow: 0px 0px 1px 2px rgb(227, 227, 227);
    margin-top: 1.15%;
    height: 20rem;
    width: 99%;
  background-color: white;
    display: flex;
    flex-direction: column;
    margin-left: 0.50%;
    padding-bottom: 1%;
    padding-top: 1%;



}
.btn_heading_block
{
   border-bottom: 0.5px soild rgb(120, 117, 117);
    height: 20%;
    width: 100%;
    border-radius: 4px;
    display: flex;
    justify-content: space-between;
    padding-left: 2%;
    padding-right: 2%;
    align-items: center;

    

}
.react-multi-carousel-item 
{
    width: 10% !important;
}
.cr2main_block
{
    
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 4px;
    /* margin-bottom: 2%; */
   height: 100%;
    margin-top: 1.5%;
   
    justify-content: space-between;
    padding-top: 1%;




}


.imageclass2
{
 background-position: center;
 background-repeat: no-repeat;
 background-size: cover;
 width: 14rem;
 height: 14rem;
 border-radius: 2px;
}
.imageclass2:hover
{
  transform:scale(1.1);
}
.title1
{
    font-weight: 600;
    
}
.title2
{
    color:rgb(83, 86, 83);
    font-weight: 600;
}
.title3
{
    color:rgb(83, 86, 83);
    margin-bottom: 2.5%;
    font-weight: 600;

}

/*   carusal1 ka ha media  query */
@media (min-width: 480px) and (max-width: 767px) {
  .photo_main_block {
    height: 10rem !important;
    width: 100%;
    box-sizing: border-box;
    margin-top: 0.4rem;
    background-color: #cdc9ce;
    display: flex;
  }

  .photo_cover {
    display: flex;
    flex-direction: row;
    height: 100%;
    background-color: rebeccapurple;
  }

  .imageclass {
    height: 100% !important;
    width: 100%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }
}
